.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #00B4DB, #0083B0);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button{
  background-image: linear-gradient(to right, #a17fe0,#5D26C1 );
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}